<mat-card>
  <form  (submit)="onLogin(loginForm)" #loginForm="ngForm">
  <mat-form-field>
    <input matInput name="email" type="email" ngModel placeholder="E-Mail" #emailInput="ngModel" required email>
    <mat-error *ngIf="emailInput.invalid">Please enter a valid E-Mail.</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput name="password" type="password" ngModel placeholder="Password" #passwordInput="ngModel" password>
    <mat-error *ngIf="passwordInput.invalid">Please enter a valid Password.</mat-error>
  </mat-form-field>
  <button mat-raised-button color="accent" type="submit">Login</button>
</form>
</mat-card>
